<header>
    <nav>
        <button><a href="/posts">Posts</a></button>
        <button><a href="/users">Users</a></button>
        <button>Home</a></button>
        <button>+ New Post</button>
    </nav>

    <button class="mobile-menu-toggle" onclick="toggleMobileMenu()">+</button>

    <!-- <button class="mobile-menu-toggle" onclick="toggleMobileMenu()">+</button> -->

    <section id="mobile-menu" class="mobile-menu-hidden">
        <p class="mobile-menu-element">My Face</p>
        <a class="mobile-menu-element" href="/posts">Posts</a>
        <a class="mobile-menu-element" href="/users">Users</a>
        <a class="mobile-menu-element">Home</a>
        <a class="mobile-menu-element">+ New Post</a>
    </section>

</header>